output.txt
node_modules
dist
.mastra
.env.development
.env
*.db
*.db-*
.next

# Coders in Flow
.codersinflow
.vscode
.DS_Store
.specstory/history/2025-08-24_11-10Z-can-you-check-my-current-project-#file-package-json-#file-google-ts-i-want-to-use-google-in-my-project-i-got-open-ai-but-rather-have-google.md
